In [41]:
import pandas as pd

df = pd.read_parquet('data/interim/Phase_I/Version_2020_07_07/Synchronized_datasets/WT01_sync.pq')
cols = [col for col in df.columns.tolist() if 'WTOperationState' in col]
sel_col_ind=[1,2,10,12]

new_cols = []
new_cols.append(cols[1])
new_cols.append(cols[2])
new_cols.append(cols[10])
new_cols.append(cols[11])
df.loc[df['WTOperationState__n_transitions']!=0,new_cols]
df.shape

(52705, 725)

In [16]:
import pandas as pd

df = pd.read_csv('data/interim/Phase_I/Teesside_data/Teesside_WT01/WT01_2016_01.csv', delimiter = ';', skiprows = 1)
df.loc[10:20, ['DateTime_TrafoTemp','TrafoTemp']]

            DateTime_TrafoTemp TrafoTemp
10  2016-01-01 17:42:06.680008      49.0
11  2016-01-01 19:45:42.245010      53.0
12  2016-01-01 20:43:59.957001      56.0
13  2016-01-01 21:36:17.952011      59.0
14  2016-01-01 22:41:45.478012      61.0
15  2016-01-02 00:37:21.073013      66.0
16  2016-01-02 00:37:51.058014      66.0
17  2016-01-02 01:36:08.848999      67.0
18  2016-01-02 01:49:58.318008       Bad
19  2016-01-02 01:56:08.082001      68.0
20  2016-01-02 01:56:48.068008       Bad

In [44]:
df.reset_index().loc[1670,:]

DateTime_10minAvg                      2016-01-12 14:20:00
ActivePower_Avg-SQL-10minAvg                             0
ActivePower_Max-SQL-10minAvg                             0
ActivePower_Min-SQL-10minAvg                             0
Amb_WindSpeed1_Avg-SQL-10minAvg                          0
                                              ...
WpsStatus_Fault condition                                0
WpsStatus_Faultless                                      0
WpsStatus_No communication with WTC                      0
WpsStatus_Service mode                                   0
WpsStatus__n_transitions                                 0
Name: 1670, Length: 726, dtype: object